nav{
    background-color: gray;
    color: black;
    
}

nav.container{
    position: absolute;
    margin: 20px;
    width: auto;
    right: 65px;
    padding: 10px;
}

.container a {
    padding: 10px;
    font: 300;
}
